.one {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:crimson;
}

#large {
    height: 200px;
}

#small {
    height: 50px;
}

.pic {
    margin-left: 20px;
}

.container {
    display: flex;
}